*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html, body{
    height: auto;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    position: relative;
    background-color: white;
    width: 70%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 40px 0px 40px 0px;
}
.main-left{
    position: relative;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 35%;
    height: 100%;
    background-color: rgb(16, 104, 255);
    color: white;
    padding: 25px;
    letter-spacing: 0.1rem;
}   
.main-left h1{
    margin: 30% 0 20px 0;
}
.main-left p{
    font-size: 0.8rem;
}
.main-right{
    width: 65%;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin: 70px 0 0 0;
    width: 77%;
    height: 100%;
    border: 2px solid white;
}
.name-area{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
label{
    font-size: 0.8rem;
    display: block;
    margin-top: 15px;
    color: #6a6a6a;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 15px;
}
.mobile-no-input{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

#ccode{
    width: 15%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 15px;
}
.gender input{
    margin-top: 15px;
}
.gender-input-male{
    width: fit-content;
    margin-right: 10px;
}
.gender-input-female{
    width: fit-content;
    margin-right: 10px;
    margin-left: 80px;
}
.education-details {
    margin-top: 70px;
}

.education-details div {
    margin-bottom: 20px;
}
