*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html, body{
    height: auto;
    width: 100%;
    background: linear-gradient(to top, #d8e4ff, #f4f4f4);
    display: flex;
    justify-content: center;
}

.main{
    padding: 30px 25px;
    background-color: #3b37fe;
    display: flex;
    position: relative;
    width: 70%;
    justify-content: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 40px 0px 40px 0px;
    border-radius: 18px;
}
.main-left{
    width: auto;
    color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    width: 35%;
}   
.main-right{
    border-radius: 18px;
    background-color: white;
    width: 65%;
    padding: 40px 0px;
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.main-left h1{
    margin: 30% 0 20px 0;
}
.main-left p{
    font-size: 0.8rem;
}

.main-right h3{
    margin-top: 45px;
}
.content{
    width: 77%;
    height: 100%;
    border: 2px solid white;
}
.name-area{
    display: flex;
    margin-top: 30px;
    gap: 15px;
}
label{
    font-size: 0.8rem;
    display: block;
    margin-top: 15px;
    color: #6a6a6a;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 15px;
}
.mobile-no-input{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

#ccode{
    width: 15%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 15px;
}
.gender input{
    margin-top: 15px;
}
.gender-input-male{
    width: fit-content;
    margin-right: 10px;
}
.gender-input-female{
    width: fit-content;
    margin-right: 10px;
    margin-left: 80px;
}
.education-details {
    margin-top: 70px;
}

.education-details div {
    margin-bottom: 20px;
}
.section{
    margin-top: 55px;
}

.submit{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 50px;
    font-size: 18px;
    background-color: rgb(16, 104, 255);
    color: white;
    cursor: pointer;
    font-weight: 900;
    transition: background-color 0.3s ease;
}
.submit:hover{
    background-color: rgb(0, 79, 214);
    color: white;
}